.skeleton-container {
    width: 100%;
}

.skeleton-line {
    height: 20px; /* Adjust height as needed */
    width: 100%;
    background-color: #f0f0f0; /* Light gray color */
    margin-bottom: 10px; /* Adjust spacing between lines */
}
